<div>
    <BlockUI :message="msg" v-if="isBlockUi"></BlockUI>
    <b-card-group deck>
        <b-card header="非銳化濾鏡 (Unsharp Marking)">
            <p class="card-text mt-2">
                非銳化濾鏡是一種影像處理技術，能加強影像的邊界線條，其步驟如下 :
            </p>
            <b-list-group >
                <b-list-group-item variant="secondary">將原始影像(彩色影像會先轉成黑白)figure 1</b-list-group-item>
                <b-list-group-item variant="secondary">將figure 1做Sobel Operator得到一階微分後的figure 2</b-list-group-item>
                <b-list-group-item variant="secondary">將figure 1做Laplace Operator得到二階微分後的figure 3</b-list-group-item>
                <b-list-group-item variant="secondary">將figure 2做Arithmetic mean filter，將其結果正規化(除以該圖像的最大值)得到figure 4</b-list-group-item>
                <b-list-group-item variant="secondary">將figure 3和figure 4相乘，得到figure 5</b-list-group-item>
                <b-list-group-item variant="secondary">將figure 5和原圖相加，得到結果</b-list-group-item>
            </b-list-group>
        </b-card>
    </b-card-group>

    <!-- 選擇檔案 -->
    <div class="contentDiv">
        <input type="file" id="imgFile" @change="imgChange" accept="jpg">
    </div>

    <!-- 原始圖像 -->
    <div class="contentDiv  transformDiv">
        <canvas ref="myCanvas"></canvas>
    </div>

    <!-- 轉換按鈕 -->
    <div class="contentDiv" id="controlDiv">
        <button id="unsharp" @click="next">transform</button>
    </div>
</div>